<div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">mhkApp</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">Practice List<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#!/todo">ToDoList</a> 
              </li>
            </ul>
          </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>