<div class="text-center" ng-controller='TodoCtrl'>
  <b>Total : {{getTotalTodos()}}</b>
		<div id="todoList" ng-repeat="todo in todos track by $index" ng-class="{doneItem: todo.done}">
			<input type="checkbox" ng-model="todo.done">
      <span class="done-{{todo.done}}">{{todo.text}}</span>
      <button class="btn btn-danger" ng-click="delTodo()">DEL</button>
    </div>
	<form class="form-horizontal">
    <div>
        <input type="text" class="form-control" ng-model="formTodoText" ng-model-instant>
        <div class="input-group-append">
          <button class="btn btn-info" ng-click="addTodo()">Add</button>
        </div>
    </div>
	</form>
</div>